@use '/src/scss/media';
@use '/src/scss/grid';
@use '/src/app/colors';

.footer {
    & {
        grid-area: footer;
        padding-top: var(--section-offset);
    }

    &__content {
        @extend .grid;
        grid-template:
            'logo social contacts'
            'copyright . developers' / max-content 1fr max-content;
        gap: 40px 126px;
        padding-top: var(--padding);
        padding-bottom: var(--padding);
        border-top: 2px solid colors.$theme-white;

        @include media.xl {
            column-gap: 86px;
        }
        @include media.lg {
            gap: 28px 74px;
            padding-top: 24px;
            padding-bottom: 28px;
        }
        @include media.sm {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-top: 16px;
            padding-bottom: 18px;
        }
    }

    &__list {
        padding-top: 0.5em;

        @include media.sm {
            padding-top: 0;
        }
    }

    &__logo {
        grid-area: logo;
    }

    &__social {
        grid-area: social;
        justify-self: end;
        align-self: start;

        @include media.sm {
            align-self: unset;
        }
    }

    &__contacts {
        grid-area: contacts;
    }

    &__developers {
        grid-area: developers;
    }

    &__copyright {
        grid-area: copyright;
        align-self: end;

        @include media.sm {
            align-self: unset;
        }
    }

    &__link {
        &:hover {
            color: colors.$main-accent;
        }
    }
}
